extends layout

block content
    div.col-md-12#pageHeading
        h1 About
    section.aboutSection
        div.col-md-4
            md-toolbar
                div.md-toolbar-tools
                    h3.md-flex Background
            md-content.layout-padding.flex
                h3 Hello, I'm Ryan Merchlewitz!
                br
                p.
                    Future Epsilon cohort graduate of Prime Digital Academy.
                    During my time at Prime, I studied the MEAN Stack in-depth.
                    After graduation, I plan on devoting my free-time to learning
                    the intricacies of Angular.
                br
                p.
                    Prior to studying the MEAN stack, I spent much time learning
                    HTML, CSS, and JavaScript.  These technologies were a gateway drug
                    to my experimentation in the content management systems of
                    Drupal and Wordpress, which I have implemented in several sites.

        div.col-md-4#face
            img.face(src='/images/vectorFace.png')

        div.col-md-4
            md-toolbar
                div.md-toolbar-tools
                    h3.md-flex Everyone Loves Strange Facts!
            md-content.layout-padding.flex
                span
                    i.fa.fa-star-o
                span.mineralContent I'm a big fan of collecting minerals, not rocks,
                                    | though there is some pretty sweet looking rocks in the world.
                br
                br
                p Little mineral humor, if you watch the video below :).

                div.embed-responsive.embed-responsive-4by3
                    iframe.embed-responsive-item(src='//www.youtube.com/embed/fwjRgVcbGd4' allowfullscreen)

        div.col-md-6
            md-toolbar
                div.md-toolbar-tools
                    h3.md-flex Fascinating Statistics
            md-content.layout-padding.flex
                p woot
        div.col-md-6
            md-toolbar
                div.md-toolbar-tools
                    h3.md-flex Fascinating Statistics
            md-content.layout-padding.flex
                p woot