extends layout

block content
    section.aboutSection
        div.col-md-4
            md-toolbar
                div.md-toolbar-tools
                    h3.md-flex Background
            md-content.layout-padding.flex
                h3 Hello!
                p.
                    I'm Ryan Merchlewitz.  Future Epsilon cohort graduate of Prime Digital Academy.
                    During my time at Prime, I studied the MEAN Stack in-depth.

        div.col-md-4#face
            img.face(src='/images/vectorFace.png')
        div.col-md-4
            md-toolbar
                div.md-toolbar-tools
                    h3.md-flex Strange Facts
            md-content.layout-padding.flex
                h3 Hello!
                p.
                    I'm Ryan Merchlewitz.  Future Epsilon cohort graduate of Prime Digital Academy.
                    During my time at Prime, I studied the MEAN Stack in-depth.
