extends layout

block content
    h2.text-center Let your thoughts flow!
    section
        div.formContainer
            form(method="post")
                md-input-container
                    input(type='text' name='title' placeholder='Title' ng-model='title')
                md-input-container
                    input(type='text' name='description' placeholder='Description' ng-model='description')
                textarea(name='content' id='contentTextArea' ui-tinymce='tinymceOptions' ng-model='content' placeholder='Enter an interesting story!')
                md-button.md-raised(type='submit' ng-click='addPost(title,description,content)').
                    Submit