extends layout

block content
    div.col-md-12#pageHeading
        h1 Archives
    div.top5Posts
        ul(ng-repeat='post in archives | limitTo:10')
            a(ng-href='/blogPosts/getPostById/{{post._id}}')
                li.posts
                    p.title {{post.title}}
                    p.description {{post.description}}
                    p.created {{post.created | date:'fullDate'}}
    div.col-md-12#pageHeading