extends layout

block nav
    li
        a(href="/login")
            i.fa.fa-sign-in.fa-3

block content
    div.top5Posts
        ul(ng-repeat='post in postlist')
            a(ng-href='/blogPosts/getPostById/{{post._id}}')
                li.posts
                    p.title {{post.title}}
                    p.description {{post.description}}
                    p.created {{post.created | date:'fullDate'}}

        a.linkToArchives(href="/archives")
            i.fa.fa-long-arrow-right.fa-4.
                Archives