extends layout

block content
    div.col-md-12#pageHeading
        h1 Portfolio
    div.col-md-12
        div.row#portfolioPage
            div.col-sm-6.col-md-4
                div.thumbnail
                    a(href='http://cedarbluffcondo.com/' target='_blank')
                        img.img-responsive(src='images/cbLogo.png')
                        div.caption
                            h4.text-center Cedar Bluff Condominiums
            div.col-sm-6.col-md-4
                div.thumbnail
                    a(href='http://quser.org' target='_blank')
                        img.img-responsive(src='images/quserLogo.png')
                        div.caption
                            h4.text-center QUSER | Twin Cities IBM User Group
            div.col-sm-6.col-md-4
                div.thumbnail
                    a(href='http://lesueurriver.org/' target='_blank')
                        img.img-responsive(src='images/lsLogo.png' )
                        div.caption
                            h4.text-center LeSueur River Watershed Network
            div.col-sm-6.col-md-4
                div.thumbnail
                    a(href='http://dakotafurnitureandcrafts.com' target='_blank')
                        img.img-responsive(src='images/dakotaLogo.jpg')
                        div.caption
                            h4.text-center Dakota Furniture and Crafts
