@font-face {
  font-family: droidFont;
  src: url(/fonts/droid-sans/DroidSans.ttf); }
@font-face {
  font-family: droidFontBold;
  src: url(/fonts/droid-sans/DroidSans-Bold.ttf); }
/************ Site Layout *****************/
html, body {
  font-size: 14px;
  height: 100%;
  background: url("/images/farmer.png");
  background-repeat: repeat;
  font-family: droidFont; }

#wrapper {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -23em;
  /* Pad bottom by footer height */
  padding: 0 0 23em; }

section {
  margin: 5em 0 7em 0; }

/** Navigation Layout **/
.md-open-menu-container.md-whiteframe-z2.md-active.md-clickable {
  height: 234px; }

.loginDropdown {
  height: 234px; }

nav {
  border-bottom: solid black 1px;
  padding-bottom: 1.5em; }
  nav .navIcons {
    float: right;
    margin: 1em 0 0 0; }
    nav .navIcons .fa-3:hover {
      color: #3f3f40; }

.navIcons > li {
  display: inline-block;
  padding: 0 .5em 0 .5em; }

/** Navigation Icons **/
#top {
  margin: -1em 0 0 0; }

#bottom {
  margin: 2em 0 0 0; }

.fa-3 {
  font-size: 3em; }
  .fa-3:hover {
    color: #0C76BC; }

/** Footer Layout **/
footer {
  background: url("/images/dark_dotted.png");
  background-repeat: repeat;
  height: 23em;
  color: white; }

footer .socialIcons .fa-3 {
  font-size: 4em; }
  footer .socialIcons .fa-3:hover {
    color: white; }

.socialIcons {
  margin: 3em 0 0 0; }

footer .footerNav .fa-3 {
  font-size: 3em; }
  footer .footerNav .fa-3:hover {
    color: white; }

.footerNav {
  margin: 3em 0 0 0;
  text-align: left;
  padding: 0 0 0 1em; }
  .footerNav .col-md-6.top {
    margin: 1.5em 0 0 0; }

.footerLink {
  margin: 1em 0 0 0;
  display: inline-block;
  padding: 0 0 0 5%; }
  .footerLink i#aboutFooter {
    margin: 0 0 0 .6em; }

span.footerIcon {
  display: inline-block;
  padding: 0 1em;
  margin: 2em 0 0 0; }

.footerHeadings {
  margin: .5em 0 0 0; }
  .footerHeadings .fa-3:hover {
    color: white; }

span.footerHeading {
  font-size: 18px;
  font-family: droidFontBold;
  padding: 0 0 0 .75em; }

.footerLinkHome, .footerLinkArchives, .footerLinkPortfolio {
  padding: 0 0 0 1.7em;
  font-size: 1.5em; }

i.fa.fa-headphones.fa-3 {
  -webkit-transform: rotate(328deg);
  -moz-transform: rotate(328deg);
  -o-transform: rotate(328deg);
  writing-mode: lr-tb; }

i.fa.fa-info.fa-3 {
  padding-left: .3em; }

.footerLinkAbout {
  padding: 0 0 0 2.4em;
  font-size: 1.5em; }

.footerLinkPortfolio {
  padding: 0 0 0 1.5em; }

.githubFeed {
  text-align: left;
  margin: 1.5em 0 0 0; }

.footerLogo {
  margin: 2em 0 0 0; }

.repoText {
  padding: 0 0 0 .5em; }

ul.castList {
  font-size: 1.5em;
  list-style-type: none;
  margin: 1.5em 0 0 0;
  line-height: 2em;
  font-family: droidFontBold; }
  ul.castList a:hover {
    color: white; }

/**  Footer Div Layout **/
.navigation, .podcasts, .github, .social-media {
  width: 25%;
  text-align: center;
  float: left; }

.podcasts {
  padding: 0 4em 0 0; }

footer h4 {
  font-family: droidFontBold; }

/*************** Page Specific Layouts *******************/
a:-webkit-any-link {
  text-decoration: none; }

.top5Posts {
  margin: 2em 0 3em 0;
  overflow: hidden; }
  .top5Posts a {
    color: #3f3f40; }
  .top5Posts a:hover {
    color: #0C76BC; }

a.linkToArchives {
  float: right; }
  a.linkToArchives i {
    text-decoration: underline; }

.fa-4 {
  font-size: 1.5em;
  margin: 1.5em 0 0 0; }
  .fa-4:hover {
    color: #0C76BC; }

li.posts {
  list-style-type: none;
  border-bottom: groove 1px;
  line-height: 2.5em;
  font-family: droidFontBold; }

p.title {
  font-size: 1.5em;
  font-weight: bolder; }

p.description {
  font-size: 1.12em;
  font-weight: bold; }

p.created {
  font-size: .75em; }

/** Admin Page **/
h2.title {
  font-siz: 30px; }

.formContainer {
  width: 75%;
  margin: 0 auto;
  border: groove 1px;
  padding: 5%;
  background: rgba(255, 255, 255, 0.8); }

form {
  overflow: hidden; }

button.md-raised.md-button.md-ink-ripple {
  color: black;
  background-color: lightgreen;
  float: right;
  margin: 20px 0 0 0; }

.renderedPost {
  padding: 1em 1em 3em 1em; }

.renderedContent {
  margin: 2em 0 0 0; }

#face {
  text-align: center; }

.face {
  width: 100%;
  -webkit-border-radius: 250px;
  border-radius: 250px; }

.md-toolbar-tools {
  background: #0C76BC; }

/*# sourceMappingURL=style.css.map */
